:root {
  --bs-link-hover-color: #ffffff;
  --bs-primary-rgb: 133, 11, 255;
  --bs-body-color: #ffffff;
  --bs-body-bg: transparent;
}

.btn {
  --bs-btn-font-size: 0.9rem;
  --bs-btn-padding-x: 1.5rem;
  --bs-btn-padding-y: 0.725rem;
}

.btn-sm {
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.35rem;
}
